name: Contexts
on: push
jobs:
  print:
    runs-on: ubuntu-latest
    env:
      WORKSPACE: ${{github.workspace}}
      RUNNERNAME: ${{runner.name}}
    steps:
      - run: echo "${WORKSPACE} ${RUNNERNAME}"
